<div id="instafeed"></div>

<script type="text/javascript" src="{{- site.url -}}/assets/instafeed/instafeed.min.js"></script>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '5420103907',
        limit: 20,
        clientId: 'b6f8084db9204407ab276cd5dfe2a631',
        accessToken: '5420103907.b6f8084.97dacd2921ad4261a5a3b1a512a9a267',
        filter: function(image) {
            return image.tags.indexOf('jemma2018') >= 0;
        }
    });
    feed.run();
</script>